@model TutoriasUTE.ViewModels.GruposCrearViewModel

@{
    ViewBag.Title = "CrearGrupo";
}

<center>

    <table>
        <tr>
            <td colspan="2">
                <h1>TutoriasUTE</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>ADMINISTRADOR</h3>
            </td>
        </tr>
        <tr>
            <td><button onclick="location.href='@Url.Action("Inicio", "MainPage")'" style="height:50px; width:200px;"> Inicio </button></td>
            <td><button onclick="location.href='@Url.Action("Salir", "MainPage")'" style="height:50px; width:200px;"> Salir </button></td>
        </tr>
    </table>

    <hr />

    <h2>@ViewBag.Title</h2>
    <hr />

    <h5 style="color:red">WARNING: no se verifican los campos de ID</h5>
    <hr />
</center>

@using (Html.BeginForm("CrearGrupo", "Grupos", FormMethod.Post))
{
    <fieldset>


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

            <div align="center">

                <h4>Crear Grupo</h4>

                @Html.LabelFor(g => g.CareerID)
                @Html.ValidationMessageFor(g => g.CareerID, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.CareerID, new { @class = "form-control" })
                <table>
                    @foreach (var carrera in Model.Carreras)
                    {
                        <tr>
                            <td>
                                ID = @carrera.ID
                            </td>
                            <td>
                                @carrera.Description
                            </td>
                        </tr>
                    }
                </table>
                <br />

                @Html.LabelFor(g => g.Term)
                @Html.ValidationMessageFor(g => g.Term, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.Term, new { @class = "form-control" })
                <br />

                @Html.LabelFor(g => g.Section)
                @Html.ValidationMessageFor(g => g.Section, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.Section, new { @class = "form-control" })
                <br />

                @Html.LabelFor(g => g.ModalityID)
                @Html.ValidationMessageFor(g => g.ModalityID, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.ModalityID, new { @class = "form-control" })
                <table>
                    @foreach (var modalidad in Model.Modalidades)
                    {
                        <tr>
                            <td>
                                ID = @modalidad.ID
                            </td>
                            <td>
                                @modalidad.Description
                            </td>
                        </tr>
                    }
                </table>
                <br />

                @Html.LabelFor(g => g.TurnID)
                @Html.ValidationMessageFor(g => g.TurnID, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.TurnID, new { @class = "form-control" })
                <table>
                    @foreach (var turno in Model.Turnos)
                    {
                        <tr>
                            <td>
                                ID = @turno.ID
                            </td>
                            <td>
                                @turno.Description
                            </td>
                        </tr>
                    }
                </table>
                <br />

                @Html.LabelFor(g => g.Generation)
                @Html.ValidationMessageFor(g => g.Generation, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.Generation, new { @class = "form-control" })
                <br />

                @Html.LabelFor(g => g.TutorID)
                @Html.ValidationMessageFor(g => g.TutorID, "", new { @class = "text-danger" })
                @Html.TextBoxFor(g => g.TutorID, new { @class = "form-control" })
                @if (Model.Tutores is null || Model.Tutores.Count() == 0)
                {
                    <text> NO HAY TUTORES </text>
                }
                <table>
                    @foreach (var tutor in Model.Tutores)
                    {
                        <tr>
                            <td>
                                ID = @tutor.ID
                            </td>
                            <td>
                                @tutor.Nombre
                            </td>
                        </tr>
                    }
                </table>
                <br />

                <button type="submit" style="height:50px; width:200px;"> Siguiente </button>

            </div>

    </fieldset>
}

 <button onclick="location.href='@Url.Action("Grupos", "Grupos")'" style="height:50px; width:200px;"> Cancelar </button>
