@model TutoriasUTE.ViewModels.RecordatoriosCommonViewModel

@{
    ViewBag.Title = "Recordatorios";
}

<center>

    <table>
        <tr>
            <td colspan="2">
                <h1>TutoriasUTE</h1>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <h3>ADMINISTRADOR</h3>
            </td>
        </tr>
        <tr>
            <td><button onclick="location.href='@Url.Action("Inicio", "MainPage")'" style="height:50px; width:200px;"> Inicio </button></td>
            <td><button onclick="location.href='@Url.Action("Salir", "MainPage")'" style="height:50px; width:200px;"> Salir </button></td>
        </tr>
    </table>

    <hr />

    <h2>@ViewBag.Title</h2>
    <hr />

</center>


@using (Html.BeginForm("Recordatorios", "Recordatorios", FormMethod.Post))
{
    <fieldset>


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @if (@ViewBag.Message != null)
        {
            <div style="border: 1px solid red">
                @ViewBag.Message
            </div>
        }

        <div align="center">

            <h4>Crear Recordatorio</h4>
            @Html.LabelFor(r => r.RecordatoriosCreateVM.Fecha)
            @Html.ValidationMessageFor(r => r.RecordatoriosCreateVM.Fecha, "", new { @class = "text-danger" })
            @Html.EditorFor(r => r.RecordatoriosCreateVM.Fecha, new { @class = "form-control" })
            <br />

            @Html.LabelFor(r => r.RecordatoriosCreateVM.Asunto)
            @Html.ValidationMessageFor(r => r.RecordatoriosCreateVM.Asunto, "", new { @class = "text-danger" })
            @Html.TextBoxFor(r => r.RecordatoriosCreateVM.Asunto, new { @class = "form-control" })
            <br />

            @Html.LabelFor(r => r.RecordatoriosCreateVM.Recordatorio)
            @Html.ValidationMessageFor(r => r.RecordatoriosCreateVM.Recordatorio, "", new { @class = "text-danger" })
            @Html.TextAreaFor(r => r.RecordatoriosCreateVM.Recordatorio, new { @class = "form-control" })
            <br />

            @Html.LabelFor(r => r.RecordatoriosCreateVM.Rol)<br />
            Tutores @Html.RadioButtonFor(r => r.RecordatoriosCreateVM.Rol, "t") <br />
            Docentes @Html.RadioButtonFor(r => r.RecordatoriosCreateVM.Rol, "d")<br />

            <button type="submit" style="height:50px; width:200px;"> Guardar </button>

        </div>

    </fieldset>
}

<div align="center">
    <h4>Maestros</h4>

    <table>
        <thead>
            <tr>
                <td>
                    Fecha
                </td>
                <td>
                    Asunto
                </td>
                <td>
                    Recordatorio
                </td>
                <td>
                    Rol
                </td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var recordatorio in Model.RecordatoriosResultVM.Recordatorios)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => recordatorio.Fecha)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recordatorio.Asunto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recordatorio.Recordatorio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => recordatorio.Rol)
                    </td>
                    <td><button onclick="location.href='@Html.Raw(Url.Action("EliminarRecordatorio", "Recordatorios", new { RecordatorioID = recordatorio.RecordatorioID }))'" style="height:10px; width:10px;"> </button></td>
                </tr>
            }
        </tbody>
    </table>

</div>
